p.title
{
    font-size: 5rem;
    width: 100%;
    text-align: center;
    margin: 3rem auto;
}

div.container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

div.data-management
{
    width: 25%;
}

div.data-management form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.data-management form>*
{
    margin-top: 1rem;
}

div.data-management form input, div.data-management form select 
{
    font-size: 1.5rem;
    width: 25rem;
}

div.data-management form>button
{
    width: 20rem;
    font-size: 1.5rem;
}

div.data-display
{
    width: 100%;
}

thead.thead-dark td, thead.thead-dark th
{
    font-size: 1.5rem;
}

tbody.docentes-table-body td, tbody.docentes-table-body th
{
    font-size: 1.3rem;
}